<h5>Cidades</h5>
<div class="row">
	<div class="col">
		<form class="form-inline">
			<div class="form-group mb-2">
				<label for="cidadeLabel" class="sr-only">Cidade</label>
				<input type="text" readonly class="form-control-plaintext text-right" id="cidadeLabel" value="Cidade">
			</div>
			<div class="form-group mx-sm-3 mb-2">
				<label for="cidade" class="sr-only">Cidade</label>
				<input type="text" class="form-control" id="cidade" placeholder="Cidade" #cidadeNome>
			</div>
			<button class="btn btn-success mb-2" (click)="add(cidadeNome.value); cidadeNome.value=''">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary mb-2 ml-1" (click)="search(cidadeNome.value)">
				<i class="fa fa-search"></i>
			</button>
		</form>
	</div>
</div>
<br />
<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Cidade</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cidade of cidades">
					<th scope="row">
						{{ cidade.id || -1 }}
					</th>
					<td *ngIf="cidade!==editCidade">
						{{cidade.nome}}
					</td>
					<td *ngIf="cidade===editCidade">
						<input [(ngModel)]="editCidade.nome" (blur)="update()" (keyup.enter)="update()" class="form-control" />
					</td>
					<td>
						<button title="Edit Cidade" (click)="edit(cidade)" class="btn btn-primary btn-sm"> 
							<i class="fa fa-pencil"></i>
						</button>
						<button title="Delete Cidade" (click)="delete(cidade)" class="btn btn-danger ml-1 btn-sm">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>